<div class="container">
	<div class="controls">
		<div class="control">
			<label>Рост: {{ height.value }} см</label>
			<input type="range" #height min="130" max="230" value={{init_height}} (input)="changeHeight(height.value)">
		</div>
		<div class="control">
			<label>Возраст: {{ years.value }} лет</label>
			<input type="range" #years min="18" max="100" value={{init_years}} (input)="changeYears(years.value)">
		</div>
	</div>

	<br>
	<div [hidden]="!chart">
	  <canvas id="canvas" #canvas>{{ chart }}</canvas>
	</div>
</div>
