<div class="container">
	<div class="controls">
		<div class="control">
			<label>Рост: {{ height.value }} см</label>
			<input type="range" #height min="130" max="230" value={{init_height}} (input)="changeHeight(height.value)">
		</div>
		<div class="control">
			<label>Возраст: {{ years.value }} лет</label>
			<input type="range" #years min="18" max="100" value={{init_years}} (input)="changeYears(years.value)">
		</div>
		<div style="vertical-align: middle;">
			<label class="container_radio ">Муж
			  <input type="radio" checked="checked" name="radio">
			  <span class="checkmark"></span>
			</label>
			<label class="container_radio">Жен
			  <input type="radio" name="radio">
			  <span class="checkmark"></span>
			</label>
		</div>
	</div>

	<br>
	<div [hidden]="!chart" class="fixed-height-chart">
	  <canvas id="canvas" #canvas>{{ chart }}</canvas>
	</div>
</div>
