<div>
	<input type="range" #height min="100" max="200" value={{init_height}} list="heightmarks" (input)="changeHeight(height.value)">
	<label for="height">height ({{ height.value }})</label>
</div>
<div>
	<input type="range" name="age" min="20" max="100" value="35">
</div>
<datalist id="heightmarks">
  <option value="100" label="100">
  <option value="120">
  <option value="140">
  <option value="160">
  <option value="180">
  <option value="200" label="200">
</datalist>

<br>
<div [hidden]="!chart">
  <canvas id="canvas" #canvas>{{ chart }}</canvas>
</div>
